{% load static %}
{% include 'customer_header.html' %}

  <div class="inner-page">
    <div class="slider-item overlay" style="background-image: url({% static 'images/view.customer.jpg' %});"
      data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-9 text-center col-sm-12 element-animate">
            <h1 class="mb-4">VIEW CART</h1>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 section-title">PRODUCTS ON<strong> CART</strong></h2>

        </div>
      </div>
      <div class="row">
        {% for x in x %}
        <div class="col-lg-4">
          <div class="media d-block media-custom text-center">
            <a href=""><img src="{{x.product.image.url}}" alt="Image Placeholder" width="230px" height="300px"></a>
            <div class="media-body">
              <h2 class="mt-0 text-black">{{x.product.product}}</h2>
              <h6>Cost: {{x.cost}} /- </h6>
              <p>Discount upto: {{x.discount}} %</p>
               <h6>Quantity: {{x.quantity}}no.s </h6>
              <strong><h6>Total: {{x.total}} /- </h6></strong>

                <a href="{% url 'edit_cart' id=x.id %}" class="btn btn-warning">Edit</a>

              <a href="{% url 'customer_delete_cart_product' id=x.id %}"  onclick="return confirm('Really Do You Want To Remove?')" class="btn btn-danger">REMOVE</a>


            </div>

          </div>

        </div>
{% endfor %}



      </div>
    </div>
    </table>
        <table class="table table-bordered" >
            <tr class="table-danger">
                <th>Total Quantity = {{tq}}</th>
                <th>Total Cost = {{tc}}</th>
                <th>Total Discount = {{td}}</th>
                <th>Final Cost = {{fc}}</th>
            </tr>
        </table>
        <div align="center">
        <a href="{% url 'checkout' %}" class="btn btn-primary" >Check Out</a>
  </div>

  </div>


{% include 'footer.html' %}


