{% load static %}
{% include 'customer_header.html' %}
  <div class="inner-page">
    <div class="slider-item overlay" style="background-image: url({% static 'images/dairy.farmer.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-9 text-center col-sm-12 element-animate">
            <h1 class="mb-4">MY COMPLAINTS</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
<div class="m-3">
<table class="table table-bordered">
  <thead>
  <tr>
    <th>BOOKING ID</th>
    <th>CUSTOMER EMAIL</th>
    <th>DAIRY EMAIL</th>
    <th>MILK</th>
    <th>CURD</th>
    <th>DATETIME</th>
    <th>STATUS</th>


  </tr>

  </thead>
  {% for x in complaints %}
  <tbody>
  <tr>
   <td>{{ x.booking_id_id}}</td>
    <td>{{ x.customer_email }}</td>
  <td>{{ x.dairy_email }}</td>
  <td>{{ x.milk }}</td>
  <td>{{ x.curd }}</td>
      <td>{{ x.datetime }}</td>
    <td>
           {% if x.status == 'Pending' %}

           {% elif x.status == 'Accepted' %}
                  <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Accepted</button>
          {% else %}
              <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rejected</button>
         {% endif %}
    </td>







  </tr>
  </tbody>
{% endfor %}


</table>
  </div>
  <!-- END section -->
{% include 'footer.html' %}

